*{
    margin: 0;
    
}
.container{
    border: 5px ridge rgb(228, 213, 7);
    background-color: rgb(56, 61, 58);
    color: aliceblue;
    padding: 20px;
    margin: 30px 150px 10px;
   
}

h1{
    text-align: center;
    text-decoration: underline;
}

.section1, .section2, .section3{
    border: 5px inset rgb(255, 251, 0);
    padding: 30px;
    background-color: beige;
    color: black;
}